.button-icon {
	padding: 10px;
	border-radius: 4px;
	background: var(--green);
	border: 2px solid var(--black);
	text-decoration: none;
	display: inline-block;
}

.button-icon:hover {
	background: var(--green-hover);
}

.button-icon img {
	vertical-align: middle;
}